body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.active {
    color:red;
}


ul li li
{
    display: block;
    color: #FFF;
    width: 9em;
    padding: 3px 3px 3px 17px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-weight: normal;
}
